<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/addEmployees.css">
    <link rel="stylesheet" href="/css/table.css">
    <title>Payroll System</title>
</head>
<body>
    <nav>
        <div>
            <span class="logo" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Payroll System</span>
        </div>
    </nav>
    <header>
        <section class="navigation">
            <a href="/adminIndex"><li>Home</li></a>
                <!-- <a href="/class"><li>Add Class</li></a> -->
                <a href="/employees"><li>Add Employee</li></a>
                <!-- <a href="/employeesReport"><li>Edit Salary</li></a> -->
                <a href="/salary"><li>Assign Salary</li></a>
                <a href="/yearwiseSalary"><li>Year wise Report</li></a>
                <a href="/"><li>Logout</li></a>
        </section>
        <section class="body">
            <h1 style="text-align: center; border:2px solid white; margin-top: 15px;">Update Employee</h1>
            <br>
            <form class="employee-add-details-container" method="post">
                <div>
                    <input type="text" name="fname" id="fname" placeholder="First Name:" required>
                </div>
                <div>
                    <input type="text" name="lname" id="lname" placeholder="Last Name:" required >
                </div>
                <div>
                    <input type="date" name="dob" id="dob" required>
                </div>
                <div>
                    <input type="email" name="mail" id="mail" placeholder="Email Address" required>
                </div>
                <div>
                    <input type="text" name="status" id="status" placeholder="Status" required>
                </div>
                <div>
                    <input type="text" name="identity" id="identity" placeholder="Employee ID" required maxlength="5">
                </div>
                <button type="submit" class="sub-btn">Submit</button>
            </form>
        </section>
    </header>
</body>
</html>